  <%# Holds all bookings %>

  <div id="upcoming-bookings" class="upcoming-bookings">
    <%# Holds upcming bookings %>
    <%= render partial: "shared/upcoming_bookings", collection: @next_booking, as: :booking %>
  </div>

  <div class="past-bookings">
    <h1 style="padding: 10px 0 0 50px; margin: 12px 0 -16px 0px;" >Past Sessions</h1>
    <%= render partial: "shared/past_bookings", past_bookings: @past_bookings %>
  </div>
</div>
