// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Avenir", "Helvetica", "sans-serif";
$headers-font: "Avenir", "Helvetica", "sans-serif";

h1 {
font-family: $headers-font;
font-size: 32px;
font-weight: bold;
}

h2 {
font-family: $headers-font;
font-size: 28px;
font-weight: bold;
}

p {
font-family: $body-font;
font-size: 18px;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: none;

}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
