.assign-container {
  #assign-heading {
    font-size: 1.5rem;
  }

  #yes {
    margin:0;
    height: 37px;
  }

  #no {
    border-radius:5px;
    margin:0;

    &:hover {
      text-decoration: none;
    }
  }

}

a:hover {
  text-decoration:none;
}
