// Specific CSS for your home-page
#landing-cta {
  margin-left: 105px;
}

.how-it-works {
  display: flex;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  .information {
    height:300px;
    width:250px;
  }
}

.therapist-container{
    margin-top: 120px;
    h2{
      font-weight:bold;
      margin-bottom:40px;
      opacity: 0.8;
      }
  }

.landing-therapists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  .therapist-box {
    height:220px;
    width:200px;
  }
  h5{
    margin-top:40px;
  }
}

.therapist-LP p {
   width: 80%;
   margin: auto;
   margin-bottom: 20px;
  }

.landing-quote {
  display: flex;
  border: solid 0.2px #D0D0D0;
  align-items: center;
  justify-content: center;
  height: 180px;
}

.landing-quote p {
 margin-top: 30px;
 width: 80%;
 margin: auto;
 font-style: italic;
}

.advert-header {
  margin-top:25px;
  display: flex;
  justify-content: center;
  h2{
    margin-top: 30px;
    font-family: Avenir;
    font-weight: bold;
    opacity: 0.8;
    }
}

.information h2 {
  margin-top:30px;
  margin-bottom: 20px;
}

#therapist-info {
  width: 268px;
}

