// Specific CSS for your home-page
#landing-cta {
  margin-left: 105px;
  margin-top:15px;
}

.how-it-works {
  display: flex;
  height: 300px;
  // border: solid 3px black;
  justify-content: space-around;
  align-items: center;
  .information {
    //border:solid 3px black;
    height:300px;
    width:250px;
  }
}

.therapist-container{
    margin-top: 80px;
  }

.landing-therapists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  .therapist-box {
    //border: solid 1px black;
    height:220px;
    width:200px;
  }
  h5{
    margin-top:40px;
  }
}

.therapist-LP p {
   // margin-left: 130px;
   // margin-right: 100px;
   width: 80%;
   margin: auto;
   margin-bottom: 40px;
  }

.landing-quote {
  display: flex;
  border: solid 0.2px #D0D0D0;
  align-items: center;
  justify-content: center;
  height: 180px;
}

.landing-quote p {
 margin-top: 30px;
 width: 80%;
 margin: auto;
 font-style: italic;
}

.advert-header {
  margin-top:20px;
  display: flex;
  justify-content: center;
}

.information h2 {
  margin-top:30px;
  margin-bottom: 20px;
}

// .select h2 {
//   margin-top:30px;
//   margin-bottom: 20px;
// }

// .book h2 {
//   margin-top:30px;
//   margin-bottom: 20px;
// }


