.main-review-container{
  width:700px;
  margin: 0 auto;
  h6 {
    text-align: center;
  }
#header, #sub-header {
  }

  #header {
    margin-top:20px;
  }

  #name {
    text-align: center;
  }


form {
  width: 700px;
  margin-top:10px;
  padding: 0px 33px;

}

.review-photo {
  margin: 10px 10px 10px 10px;
}
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }

.review-container {
  width: 700px;
  box-shadow: -1px 1px 6px -2px rgba(189,189,189,1);
  padding: 20px;
  margin:20px auto;
  padding: 20px 20px 10px 20px;

  .first-flex-item div {
  text-align: center;
  padding-top: 20px;
  }

  .button-navy{
  width:130px;
  height:40px;
  margin-top:20px;
  margin-left: 300px;
  font-size:18px;
  }
}

.feedback-card {

    width: 500px;
    margin: 20px 20px;
    padding: 20px;
}



  #review-submit {
    margin: 20px 0;
  }
}

.hide {
    display:none;
}

.main {
  margin-left: 40%;
  margin-top: 15%;
}
.rating-star {
    direction: rtl;
    font-size: 30px;
    unicode-bidi: bidi-override;
    display: inline-block;
    padding-right: 5px;
    margin-left:50px;
}
.rating-star input {
    opacity: 0;
    position: relative;
    left: -30px;
    z-index: 2;
    cursor: pointer;
}
.rating-star span.star:before {
    color: #777777;
}
.rating-star span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}
.rating-star span {
    margin-left: -30px;
}

.rating-star span.star:before {
    color: #777777;
    content:"\f006";
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
    color: #4F5CAD;
    content:"\f005";
}

.star{
    margin-right: 8px;
}

#comment-section {
  height:60px;
  padding:15px;
  margin: 20px 0px;
}

