.show-page-form {
  color: #7882e9;

  .show-form-container {
    width: 341px;
    margin-top: 40px;
  }
}

.welcome_page-container {
  margin-top: 35px;

  #welcome_page-header {
    margin: 0px 156px 0 190px;
  }
}

