.therapist-avatar{
    position: absolute;
    right: 150px;
    margin:15px;

    p {
      color:black;
      font-family: Avenir;
      font-size:20px;
      line-height: 50px;
      text-align:center;

<<<<<<< HEAD
=======
  .therapist-banner-inner{
    margin-left: 60px;
    margin-top: 5px;
  }

  p {
    color:#FFFCFC;
    font-family: Avenir;
    font-weight: 400;
    font-size:30px;
    line-height: 50px;
    text-align: center;
    margin: auto 88px;
>>>>>>> master
    }
    .avatar-small {
      width:170px;
      height:170px;
    }
  }

.booking-card {
  width:90%;
  height:260px;
  border-radius:18px;
  border: 1px solid #CDD4D6;
  display:flex;
  background-color: white;
  padding:10px;
  margin: 40px auto 20px auto;

  }

  .calendar {
    margin: 21px;
    position: relative;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
    grid-gap:2px;
    width: 160px;
    height: 180px;
  }

  .fa-calendar {
    font-size:11em;
    color:$main;
    position:absolute;
    top:-20px;
    }
    .calendar-button {
      color:#7882E9;
      font-weight: 500;
      font-family: Avenir;
      }


#date {
    font-size: 6.5em;
    font-family: $body-font;
    font-weight:bold;
    color:$main;
    margin-top: 10px;
    margin-right:5px;
    text-align:center;
}

  .session-button {

    color:black;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;


    }

  h4 {
    color:#A19797;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0 0 0;
       }
  .info-container{
    margin:23px;
    justify-content: space-between;
  }
  .info {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    color: #4F5CAD;
  }


  .fa-video {
    text-align:center;
    font-size:40px;
    padding: 21px;
    color: #888888;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D8D8D8;
    &:hover {
      color: $main;
            }
  }

  .reschedule {
    border: 1px solid #4F5CAD;
    border-radius: 5px;
    color:#4F5CAD;
    padding:10px;
  }

  .cancel {
    border: 1px solid #4F5CAD;
    border-radius: 5px;
    color:#4F5CAD;
    padding:10px;
  }

  .call {
    display:flex;
    flex-direction:column;
    justify-content:center;
  }




.past-sessions{
  width: 90%;
  border: 1px solid #CDD4D6;
  border-radius: 18px;
  margin: 30px auto;


  .past-booking-card {
    width:85%;
    height:250px;
    border-bottom: 1px solid #CDD4D6;
    display:flex;
    justify-content: space-around;
    background-color: white;
    padding:10px;
    .review {
      border: 1px solid #4F5CAD;
      border-radius: 5px;
      color:#4F5CAD;
      padding:10px;
            }
    p {
    color:black;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0 0 15px;
      }
    .info > h3 {
    flex-direction:column;
    justify-content:space-between;
    color: #4F5CAD;
    }

  h4 {
    color:black;
    font-family: Avenir;
    font-size: 25px;
    font-weight: 500;

       }

}

}
