#therapist-banner {
  height: 14em;
  background-color: #c6d3f2;

  .therapist-banner-inner{
    margin-left: 60px;
    margin-top: 5px;
  }

  p {
    color:#FFFCFC;
    font-family: Avenir;
    font-weight: 500;
    font-size:30px;
    line-height: 50px;
    text-align:center;
    margin: auto 88px;
    }

  .avatar-small {
    width:200px;
    height:200px;
    margin-right: 30px;
    }

  h2 {
    font-family: $body-font;
    color:white;
    font-style:italic;
    font-size:24px;
    }
}


.therapist-show-page-container {
  display:flex;

  #upcoming-bookings {
    text-align:center;
    font-family:$body-font;
    font-size:30px;
  }

  #next-session {
    font-family:$body-font;
    text-align:center;
    margin-top:20px;
  }

  #past-sessions {
    text-align:center;
    font-family:$body-font;
    margin-top:20px;
    margin-bottom:30px;
  }

  .booking-card {
    max-width:700px;
    height:250px;
    border-radius:18px;
    border: 1px solid #CDD4D6;
    display:flex;
    justify-content: space-around;
    background-color: white;
    padding:10px;
    margin: 40px auto 20px auto;
  }

  #date {
    font-size: 6.5em;
    font-family: $body-font;
    font-weight:bold;
    color:$main;
    margin-top: 10px;
    margin-right:5px;
    text-align:center;
  }

  .calendar {
    margin: 31px 0;
    position: relative;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
    grid-gap:2px;
    width: 160px;
    height: 180px;
  }

  .fa-calendar {
    font-size:11em;
    color:$main;
    position:absolute;
    top:-20px;
  }


  .booking-card-text p {
    color:black;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0 0 15px;
   }


  h4 {
    color:#A19797;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0 0 0;
  }

  .info {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    color: #4F5CAD;
  }

  .fa-video-slash {
    text-align:center;
    font-size:40px;
    color: $border;
  }

  .reschedule-button {
    border: 1px solid #4F5CAD;
    border-radius: 5px;
    color:#4F5CAD;
    padding:10px;
    font-size: 15px;
  }

  .cancel-button {
    border: 1px solid #4F5CAD;
    border-radius: 5px;
    color:#4F5CAD;
    padding:10px;
    font-size: 15px;
  }

  .call {
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .fa-video {
    padding: 10px 15px;
    font-size: 100px;
    color: $accent;
    text-align:center;
    border:solid;
    border-radius:7px;
    background-color: $muted;
  }

  .fa-video:hover {
    color: $main;
  }

  .past-sessions{
    width: 90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .past-booking-card {
    margin-top:20px;
    width:85%;
    height:250px;
    border-bottom: 1px solid #CDD4D6;
    display:flex;
    justify-content: space-around;
    background-color: white;
    padding:10px;
  }

  .review-path-button {
    border: 1px solid #4F5CAD;
    border-radius: 5px;
    color:#4F5CAD;
    padding:10px;
  }
  p {
    color:black;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0 0 15px;
  }
  .info h3 {
    flex-direction:column;
    justify-content:space-between;
    color: #4F5CAD;
    font-size:24px;
  }

  h4 {
    color:black;
    font-family: Avenir;
    font-size: 25px;
    font-weight: 500;

    }
}

