// global styles
.padded-box {
  padding: 0 20px;
  border: 1px solid $border;
  border-radius: 18px;

}

// whole page stylıng

.dashboard-container {

  // .absolute-badge {
  //   position:absolute;
  //   top: 12px;
  //   right: 12px;
  // }

  // #badge-name {
  //   font-size:13px;
  //   position:absolute;
  //   top: 17px;
  //   right: 69px;
  //   color:grey;
  // }

  a, a:hover {
    text-decoration:none;
  }

  #call{
    margin:0;
    font-weight:bold;
    font-weight: lighter;

  }

  .relative {
    position:relative;
  }

  #upcoming-header, #past-header {
    font-size:24px;
    font-weight:lighter;
    margin-left:80px;
    margin-bottom: 10px;

  }


.empty {
  height:150px;
  margin: 45px ;
  display:flex;
  flex-direction:column;
  justify-content:center;
  p {
    font-size: 23px;
    color: #a7a8b3;
    text-align:center;
  }

}
// assigned therapıst stylıng
.assigned {
  height: 165px;
  background-color: #94ABE4;
  padding-top: 6px;
  margin-bottom: 18px;
    h5 {
    font-weight: normal;
    color:white;
    margin-bottom:20px;
    // margin-top:20px;
  }
  h4, p {
    color:white;
    margin-top:32px;
    margin-bottom:25px;
  }
  .flex-2 {
    margin-left:30px;
  }

}

#no-therapist {
  // opacity:0.5;
  background:
  linear-gradient(
      rgba(120, 130, 233, 0.45),
      rgba(120, 130, 233, 0.45)
    ),
  image_url('question.png'),
  image_url('faces.png')
  ;
  background-size:cover;
  width:100px;
  height:100px;
}
// past bookings styling
.past {
  border: 1px solid #DFE2E7;
  margin: 0 80px;
  padding-bottom: 30px;

  a {
    color:grey;
  }
  a:hover {
    color:$main;
  }
  h4 {
    font-size: 21px;
    padding: 10px 0 0 0 ;
  }

  #line {
    font-size:20px
  }


}
.past-booking-card {
  height: 150px;
  border-top: 1px solid #CDD4D6;
  margin-top:20px;
  padding: 20px 20px 0px 20px;
}
.past-booking-card:first-child {
  border:none;
}


// today booking stylıng

.today-date {
    color: #4F5CAD;
    font-size: 24px;

}

.today {
  padding: 40px;
  margin: 0 80px;
  height: 200px;
  top: 25px;

  a {
    width: fit-content;
    color:grey;

  }
  .avatar-box {
    padding-right: 30px;
    margin-top: -14px;
  }

}
.flex-grow {
  flex-grow: 1;
}

.calendar {
    margin-top: 30px;
    position: relative;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
    grid-gap:2px;
    width: 100px;
    height: 180px;
  }

  .fa-calendar {
    font-size: 7em;
    color: #7882e9;
    position: absolute;
    top: -33px;
  }
  .calendar-button {
    color:#7882E9;
    font-weight: 500;
    font-family: Avenir;
    }
    #date {
    font-size: 3em;
    font-family: "Avenir";
    font-weight: bold;
    color: #7882e9;
    margin-top: 4px;
    margin-left: 21px;
  }
  .calendar-date {
    // margin-top: 3px;
  }

  .fa-video {
    text-align: center;
    font-size: 30px;
    color: $main;
    width: 60px;
    height: 60px;
    border-radius: 50%;
     background-color: $muted;
    padding-top: 15px;
    &:hover {
      color: white;
      background-color:$main;
            }
  }

  .session-button {
    color:black;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;
  }



}


