// global styles
.padded-box {
  padding: 0 20px;
  border: 1px solid $border;
  border-radius: 18px;

}

// whole page styl覺ng

.dashboard-container {
  a, a:hover {
    text-decoration:none;
  }
  #absolute {
    position:absolute;
    top: -50px;
    margin-top:1rem;
  }

  .relative {
    position:relative;
  }

  h3{
    color: #4F5CAD;
  }

   h5 {
    font-weight: normal;
  }

.empty {
  height:200px;
  margin: 30px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  p {
    font-size: 23px;
    color: #a7a8b3;
    text-align:center;
  }

}
// assigned therap覺st styl覺ng
.assigned {
  height:200px;
  background-color: #94ABE4;
  padding-top:30px;
  margin-bottom:30px;
  h3, p {
    color:white;
  }
  .flex-2 {
    margin-left:30px;
  }

}

#no-therapist {
  // opacity:0.5;
  background:
  linear-gradient(
      rgba(120, 130, 233, 0.45),
      rgba(120, 130, 233, 0.45)
    ),
  image_url('question.png'),
  image_url('faces.png')
  ;
  background-size:cover;
  width:140px;
}
// past bookings styling
.past {
  border: 1px solid $main;

  h4 {
    font-size: 21px;
    padding: 10px 0 0 0 ;
  }


}
.past-booking-card {
  border-top: 1px solid #CDD4D6;
  padding: 20px 20px;
}
.past-booking-card:first-child {
  border: none;

}




// today booking styl覺ng
.today {
  padding-top: 40px;
  margin-bottom:30px;
  .avatar-box {
    padding-right: 30px;
  }

}
.flex-grow {
  flex-grow: 1;
}

.calendar {
    margin: 21px;
    position: relative;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
    grid-gap:2px;
    width: 160px;
    height: 180px;
  }

  .fa-calendar {
    font-size:11em;
    color:$main;
    position:absolute;
    top:-20px;
  }
  .calendar-button {
    color:#7882E9;
    font-weight: 500;
    font-family: Avenir;
    }
    #date {
    font-size: 6.5em;
    font-family: $body-font;
    font-weight:bold;
    color:$main;
    margin-top: 10px;
    margin-right:5px;
    text-align:center;
  }

  .fa-video {
    text-align:center;
    font-size:40px;
    padding: 21px;
    color: #888888;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D8D8D8;
    &:hover {
      color: $main;
            }
  }

  .session-button {
    color:black;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 900;
  }



}


