<nav class=<%= params[:controller] == "pages" && params[:action] == "home" ? "transparent-nav" : "normal-nav" %>>
  <a href="#" id="logo">iWell</a>
  <a href="#">Bookings</a>
  <a href="#">My Sessions</a>
</nav>


