<nav class=<%= params[:controller] == "pages" && params[:action] == "home" ? "transparent-nav" : "normal-nav" %>>
  <%= link_to 'iWell', root_path, id: "logo" %>
  <a href="#">Bookings</a>
  <a href="#">My Sessions</a>
</nav>


