<!-- we need to configure this so that it displays either the stars of a review or the stars of a therapist, two diff models
 -->

 <div class="stars">
<!--     this first line of code will be unecessary
 -->    <% therapist_avg_rating = 3.5 %>
    <% full = therapist_avg_rating.round(half: :down)  %>
 <% full.times do %>
    <div class="dark-star">
      <i class="fas fa-star"></i>
    </div>
    <% end %>
    <% if therapist_avg_rating % 1 != 0 %>
    <div class="half-star">
      <i class="fas fa-star-half-alt"></i>
    </div>
    <% end %>
    <% empty = 5 - therapist_avg_rating.round%>
    <% empty.times do %>
    <div class="light-star">
        <i class="far fa-star"></i>
    </div>
    <% end %>
  </div>
