

<div class="upcoming-booking">
  <div class="d-flex flex-column mb-3">
    <div class="booking-card">
          <div class="info">
            <h3>Date: <%= I18n.l(booking.starts_at, format: :long) %></h3>
            <div class="button-container">
                <%= button_tag "Reschedule", class: "reschedule" %>
                <%= button_tag "Cancel", class: "cancel" %>
            </div>
            <h4><i class="fas fa-info-circle"></i>Cancellation is only possible until before 24 hours of the call.</h4>
          </div>
      </div>
  </div>
</div>

