<div class="container">
  <h1>Your session has ended</h1>
  <p>We hope your call went well. All data is confidential.</p>

  <div class="padded-box d-flex">
      <%= cl_image_tag @therapist.photo, class: "avatar-large px-3 py-3" %>
    <div class="flex-item-2">
      <h3>Would you like to save <%= @therapist.first_name %> as your main therapist ? </h3>
      <div class="button-navy-small">
        Yes
      </div>
      <div class="white-button">
        No, find another therapist
      </div>
    </div>
  </div>
</div>
