<div class="banner">
</div>
<div class="advert-header"></div>
<div class="how-it-works">
  <div class="info">INFO</div>
  <div class="select">SELECT</div>
  <div class="book">BOOK</div>
</div>
<div class="advert-header"></div>
<div class="landing-therapists">
  <div class="flexitem-1">1st one</div>
  <div class="flexitem-2">2nd one</div>
  <div class="flexitem-3">3rd one</div>
</div>
<div class="landing-quote">some text</div>
