<div class="banner">
  <h1> Online Therapy at your convenience </h1>
  <h2> No waiting lines. Book an online appointment and connect with your licensed therapist anytime, anywhere. </h2>
  <div class= "button-navy" id="landing-cta"> Get Started </div>
</div>
<div class="advert-header">
 <h2 class="text-center"> How It Works </h2>
 </div>
<div class="how-it-works">
  <div class="information">
    <span class="dot"> 1 </span>
    <h2 class="text-center">ENTER INFO</h2>
    <p class="text-center"> Enter your information to see the best suited therapists for you. </p>
  </div>
  <div class="information">
    <span class="dot"> 2 </span>
    <h2 class="text-center">SELECT</h2>
    <p class="text-center"> Browse through profiles and choose your therapist. </p>
  </div>
  <div class="information">
    <span class="dot"> 3 </span>
    <h2 class="text-center">BOOK</h2>
    <p class="text-center"> Book online appointment and connect with your therapist anywhere.</p>
  </div>
</div>
<div class="therapist-container">
  <h2 class="text-center"> Our Licensed Therapists </h2>
<div class="landing-therapists">
  <div class="therapist-box">
    <div class="d-flex flex-column align-items-center"><img src="https://images.unsplash.com/photo-1551438632-cacd75df629f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Avatar" class="avatar-small">
    </div>
    <h5 class="text-center">Dr. Julia Rosch</h5>
    <h6 class="text-center">Psychologist</h6>
  </div>
  <div class="therapist-box">
     <div class="d-flex flex-column align-items-center"><img src="https://images.unsplash.com/photo-1551438632-cacd75df629f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Avatar" class="avatar-small"></div>
     <h5 class="text-center"> Dr. Michael Brown</h5>
     <h6 class="text-center">Psychologist</h6>
  </div>
  <div class="therapist-box"> <div class="d-flex flex-column align-items-center"> <img src="https://images.unsplash.com/photo-1551438632-cacd75df629f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Avatar" class="avatar-small">
  </div>
   <h5 class="text-center"> Martin Brettner</h5>
   <h6 class="text-center">Licenced Social Worker</h6>
  </div>
</div>
<div class="therapist-LP">
   <p>iWell has over 300 licensed and experienced counselors who can help you with depression, anxiety, health problems, trauma, grief, and more. It takes courage to seek a more fulfilling and happier life and to take the first steps towards a change. We are here to support you with our experienced professionals. </p>
</div>
</div>
<div class="landing-quote">
  <p>“I never thought online counseling was  for me, but Dr. Rosch has made this experience the most beneficial  in my entire life.”  J.K. Berlin </p>
</div>

<div class="footer">
</div>
