<div class="banner">
  <h1> Online Affordable Therapy at your convenience </h1>
  <h2> No waiting lines. Connect with your licensed therapist anytime, anywhere. </h2>
  <%= link_to 'Get Started', welcome_path, :class => "button-home", :id=> "landing-cta" %>
</div>
<div class="advert-header">
 <h2 class="text-center"> How It Works </h2>
 </div>
<div class="how-it-works">
  <div class="information">
    <span class="dot"> 1 </span>
    <h2 class="text-center"><strong>Enter Info</strong></h2>
    <p class="text-center"> Enter your information to see the best suited therapists for you. </p>
  </div>
  <div class="information" id="therapist-info">
    <span class="dot"> 2 </span>
    <h2 class="text-center"><strong>Select a Therapist</strong></h2>
    <p class="text-center"> Browse through profiles and choose your therapist. </p>
  </div>
  <div class="information">
    <span class="dot"> 3 </span>
    <h2 class="text-center"><strong>Book</strong></h2>
    <p class="text-center"> Book online appointment and connect with your therapist anywhere.</p>
  </div>
</div>
<div class="therapist-container">
  <h2 class="text-center"> Our Licensed Therapists </h2>
  <div class="therapist-LP">
   <p>iWell has hundreds of licensed and experienced counselors who can help you with depression, anxiety, trauma, grief and other concerns. It takes courage to seek a more fulfilling and happier life and to take the first steps towards a change.  Our mission is to make therapy accessible and affordable to all. We are here to support you with our experienced professionals. </p>
</div>
<div class="landing-therapists">
  <div class="therapist-box">
    <div class="d-flex flex-column align-items-center"><img src="https://image.freepik.com/free-photo/business-young-woman-looking-camera-office_1301-6547.jpg" alt="Avatar" class="avatar-small">
    </div>
    <h5 class="text-center">Dr. Julia Rosch</h5>
    <h6 class="text-center">Psychologist</h6>
  </div>
  <div class="therapist-box">
     <div class="d-flex flex-column align-items-center"><img src="https://parkercollins.com/wp-content/uploads/2018/09/JH-pick_cropped-768x1024.jpg" alt="Avatar" class="avatar-small"></div>
     <h5 class="text-center"> Dr. Michael Brown</h5>
     <h6 class="text-center">Psychologist</h6>
  </div>
  <div class="therapist-box"> <div class="d-flex flex-column align-items-center"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTXBbPTo1SMDztdxtT809p1M5an_YoS4C97B9O3gPoKg9L74KlzQ" alt="Avatar" class="avatar-small">
  </div>
   <h5 class="text-center"> Martin Brettner</h5>
   <h6 class="text-center">Licenced Social Worker</h6>
  </div>
</div>
</div>
<div class="landing-quote">
  <p>“I never thought online counseling was  for me, but Dr. Rosch has made this experience the most beneficial  in my entire life.” – M. Schulz </p>
</div>

<div class="footer">
</div>
