<h1>This is where we build our UI kit</h1>
<nav>
  <a href="#" id="logo">iWell</a>
  <a href="#">Bookings</a>
  <a href="#">My Sessions</a>
</nav>

<head>
      <script src="https://kit.fontawesome.com/4f87db517d.js"></script>

</head>
<div class="session-card">
  <div class="calendar">
  <!--   should display booking time  -->
    <p id="date"><%= Time.now.day %></p>
    <i class="far fa-calendar"></i>
  </div>
  <!-- if Time.now <= @booking.start_time + 24hours -->
    <% if 4+4 == 7 %>
      <div class="call">
        <i class="fas fa-video"></i>
      </div>
<!--       otherwise -->
    <% else %>
      <div class="info">
        <div class="text">
          <h6>Your next appointment is on</h6>
          <!-- booking time to a day of the week -->
          <h4><%= Time.now.strftime("%A") %></h4>
          <i class="fas fa-video-slash"></i>
        </div>
        <div class="buttons">
          <div class="reschedule">
            Reschedule
          </div>
          <div class="cancel">
            Cancel
          </div>
        </div>
      </div>
    <% end %>
</div>
<form class="sign-up">
    <h1 class="sign-up-title">Sign up </h1>
    <input type="text" class="sign-up-input" placeholder="First Name (or Nickname)" autofocus>
    <input type="email" class ="sign-up-input" placeholder="E-mail Address"
           autofocus>
    <input type="password" class="sign-up-input" placeholder="Password">
    <input type="submit" value="Sign up" class="sign-up-button">
  <p>Already have an iWell account?<a href="">Log in</a></p>
  </form>

  <form class="booking-container">
    <h1 class="booking-title">Video Call <br> 35 EUR / Hour </h1>
    <input type="text" class="booking-input" placeholder="this will change" autofocus>
    <input type="text" class ="booking-input" placeholder="this will change" autofocus>
  <div class="price-container">
  <p>Total</p>
  <h1>0 EUR (Trial Call)</h1>
  </div>
    <input type="submit" value="Book Appointment" class="booking-button">
  </form>
