
<!-- <iframe
  src="https://tokbox.com/embed/embed/ot-embed.js?embedId=b8c20e27-37a8-477b-8799-4b3d32cccb4f&room=DEFAULT_ROOM&iframe=true"
  width="800px"
  height="640px"
  scrolling="auto"
  allow="microphone; camera"
></iframe> -->
<!-- OpenTok.js library -->
<style>
  .OT_mirrored.OT_root.OT_publisher.OT_fit-mode-cover {
  position: absolute;
  top: 150px;
  left: 20px;
}

.OT_root.OT_subscriber.OT_fit-mode-cover {
  position: relative;
  margin-top: 20px !important;
  margin-left: 300px !important;
  height: 500px !important;
  width: 800px !important;
}

#end-call {
  position: absolute;
  bottom: 100px;
  left: 45%;
}

#call-icon {
  position: absolute;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 20px;
  font-size: 20px;
  position: cover;
}

</style>
<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>

// credentials
const apiKey = '45828062';
const sessionId = '2_MX40NjQxNDUzMn5-MTU2NzYwMzgyNjQ4N35oNmphTG5WcGxhOVcySHY1dmtkUXRzWEx-fg';
const token = 'T1==cGFydG5lcl9pZD00NjQxNDUzMiZzaWc9M2M3YmYwZmFmN2JkOGZhZmRjOGUyM2QyNzhjMGU4YTQ3MGQ5NzRlMDpzZXNzaW9uX2lkPTJfTVg0ME5qUXhORFV6TW41LU1UVTJOell3TXpneU5qUTROMzVvTm1waFRHNVdjR3hoT1ZjeVNIWTFkbXRrVVhSeldFeC1mZyZjcmVhdGVfdGltZT0xNTY3NjAzODUwJm5vbmNlPTAuMzUxMDEwODAyMjc0MzUwOCZyb2xlPXB1Ymxpc2hlciZleHBpcmVfdGltZT0xNTcwMTk1ODUwJmluaXRpYWxfbGF5b3V0X2NsYXNzX2xpc3Q9';

// connect to session
const session = OT.initSession(apiKey, sessionId);

// create publisher
const publisher = OT.initPublisher();
session.connect(token, function(err) {
   // publish publisher
  session.publish(publisher);
});

// create subscriber
session.on('streamCreated', function(event) {
   session.subscribe(event.stream);
});

</script>
<%= link_to dashboard_path do %>
<div id="end-call"><i class="fas fa-phone-slash" id="call-icon"></i></div>
<% end %>

