@import "show";

// global styles
.border-conform {
  border: 1px solid #ced4da;
  border-radius:2px;
}

//search page styles
.search-page {
  .relative {
    position:relative;
  }
  .absolute {
    position: absolute;
    top: 68px;
    right: 100px;
  }
  .more-btn, .less-btn {
    width:150px;
    text-align:center;
  }

  .item-2.d-flex{
    position:relative;
    width:70vw;
    }

  .filters {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    background-color: white;
    z-index: 999;
    box-shadow: $box-shadow 0px 6px 5px -9px;
    }

    .filter {
      margin:0 5px;
      min-width: 150px;
    }

    .filters-stick-to-nav{
    margin-left: 6rem !important;
    margin-top: 2rem !important;
    }

    #search-bar {
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width:70vw;

    }

    #search-bar:focus{
      -webkit-appearance: none;
      box-shadow: none !important;
      border: 1px solid #4F5CAD;
     }

    .position-rel {
      position:relative;
    }

    #price {
      position:absolute;
      bottom:90px;
      right:30px;
      font-size:18px;
      font-style:bold;
      color: #7881E9;

    }

    h3 {
      font-size:24px;
    }

  .search-results {
    margin-top: 20px;
    padding: 0 20px;

    a {
    text-decoration:none;
    color: black;
    }

    a:hover {
    text-decoration:none;
    color: black;

    }

  }

  .profile-avatar {
    margin-bottom:5px;
  }

  // .stick-to-nav {
  //   position:sticky;
  //   top: 0px;
  // }

  .hidden {
    visibility:hidden;
  }

}

.specialty-tag {
    background-color:white ;
    color: $accent;
    padding:4px;
    border: solid 1px $accent;
    border-radius:10px;
    text-align:center;
    margin-right: 8px;
    margin-top:20px;
    width: fit-content;
    height:fit-content;

  }

  // .filter-filter-rating-toggle-hidden{
  //  margin-top:0px;
  // }

#specialty-tag-home {
     margin-left: 10px;
     height:40px;
     padding:6px;
  }

  .specialty-container{
    display: flex;
  }


  .therapist-cards{
    margin-bottom:15px;
    border: #F8F8F8;
  }

  .therapist-results-header{
    margin-left: 6rem !important;
    margin-top: 2.5rem !important;
    h4{font-weight:bold;
    }
    }

  .profile-description-content{
    h3{
     margin-top:5px;
   }
    h6{
     margin-top:15px;
     color:#838282;
     line-height: 0.5;
     font-weight:300;
     font-size: 1.1rem;
   }
  }

