.therapist-show-container {
  display: flex;
  padding: 40px 20px 20px 10px;
  justify-content: space-around;
  margin: 0;
  width: 100%;

  .show-first-flex-item div {
  text-align: center;
  padding-top: 20px;
  }

  .show-form {
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

#booking_free {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 40px;
  }
