.banner {
  background-image: image_url('banner.jpeg');
  background-size: cover;
  background-position:top;
  height: 780px;
  color: white;
  font-weight: bold;
  h1{
    color: #FFFFFF;
    font-family: Avenir;
    font-size: 3em;
    font-weight: bold;
    padding-left: 105px;
    width: 75%;
    padding-top:220px;
  }
  h2{
    color: #FFFFFF;
    font-family: Avenir;
    font-size: 1.5em;
    // font-weight: bold;
    padding-left: 105px;
    padding-top:20px;
    padding-bottom: 20px;
    width: 75%;
    font-weight: 100;
  }
  .text-wrap {
    width: 1240px;
  }

}



