.banner {
  background-image: url('https://images.unsplash.com/photo-1541976844346-f18aeac57b06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80');
  background-size: cover;
  height: 600px;
  color: white;
  font-weight: bold;
  h1{
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 3vw;
    font-weight: bold;
    padding-left: 105px;
    width: 75%;
    padding-top:150px;
  }
  h2{
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 1.5vw;
    font-weight: bold;
    padding-left: 105px;
    padding-top:20px;
    width: 75%;
  }
  .text-wrap {
    width: 1240px;
  }

}



