.button-navy {
  height: 54px;
  width: 220px;
  border-radius: 4px;
  background-color: $main;
  color:white;
  text-align: center;
  font-size:22px;
  margin: auto;
  line-height: 60px;
  position: relative;
  vertical-align: top;
}

.button-navy:hover {
  background: #5E69AF;
  color: white;
}

.button-home {
  padding:10px 20px;
  border-radius: 4px;
  background-color: transparent;
  color:white;
  text-align: center;
  font-size:22px;
  line-height: 60px;
  border:1px solid white;
}

.button-home:hover {
  background: #7881E9;
  text-decoration: none;
  color: white;
  border: none;
}

.button-navy-small {
  height: 34px;
  width: 85px;
  border-radius: 4px;
  background-color: $main;
  color:white;
  text-align: center;
  font-size:14px;
  line-height: 36px;
  position: relative;
  vertical-align: top;
}

.button-navy-md {
  height: 40px;
  width: 90px;
  border-radius: 4px;
  background-color: $accent;
  color:white;
  text-align: center;
  font-size:24px;
  margin: auto;
  line-height: 36px;
  position: relative;
  vertical-align: top;

}
