.button-navy {
  height: 54px;
  width: 220px;
  border-radius: 4px;
  background-color: $main;
  color:white;
  text-align: center;
  font-size:22px;
  margin: auto;
  line-height: 60px;
  position: relative;
  vertical-align: top;
}

.button-navy:hover {
  background: #5E69AF;
  color: white;
}

.button-navy-small {
  height: 34px;
  width: 85px;
  border-radius: 4px;
  background-color: $main;
  color:white;
  text-align: center;
  font-size:14px;
  margin: auto;
  line-height: 36px;
  position: relative;
  vertical-align: top;
}

.button-navy-md {
  height: 40px;
  width: 90px;
  border-radius: 4px;
  background-color: $accent;
  color:white;
  text-align: center;
  font-size:24px;
  margin: auto;
  line-height: 36px;
  position: relative;
  vertical-align: top;

}
