.threshold-container {
  padding-top: 10vh;
  min-width: 400px;
  display: flex;
  justify-content: center;

  .login-form {
    margin: 5vh 10vw*2 0 10vw*2;
    border: solid 2px $border;
    padding: 40px 40px;
  }
  .form-actions {
    display:flex;
    flex-direction: row-reverse;
  }
  .form-actions input {
    border:solid 1px white;
    width:100%;
    margin-bottom: 10px;
  }
  .shared-links {
    display: flex;
    flex-direction:column;
    padding: 0 0;
    top:0;
  }
}

.signup-form {
    margin: 0 10vw*2 0 10vw*2;
    border: solid 2px $border;
    padding: 40px 40px;
  }

.shared-links p {
    font-size: 16px;
  }
