.profile-card {
  padding: 15px 0;
  margin:0 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3.8rem !important;
  margin-right: 3.8rem !important;

  &:hover {
    box-shadow: -1px 1px 6px -2px rgba(189,189,189,1);

  }

  #name {
  margin-top:5px;
  margin-bottom:20px;
  font-size:20px;
  font-weight: 100;
}

}

.profile-description-content p {
  margin: 0;

}
.profile-description-content h6 {
  font-weight:400;

}

.profile-description-content img {
height:30px;
width:30px;
margin-right:10px;

}

.profile-avatar-spacing {
  padding-left: 40px;
  padding-right: 50px;
  color: #4F5CAD;
  font-size: 11px;
  text-align: center;
}

