 .review-card {
  border-top: solid 1px $border;
  width:800px;
  margin:20px;
  padding:10px;
  .review {
    border-bottom: solid 1px $border;
    margin:10px;
    padding:10px;
  }

  .stars {
    margin-bottom: 5px;
  }
  h4 {
    font-size : 20px;
    font-family: $body-font;
    font-weight: bold;
  }

 }
