.dot {
  height: 80px;
  width: 80px;
  background-color:  #7882E9;
  border-radius: 50%;
  display: block;
  text-align: center;
  color:white;
  font-weight:bold;
  font-size:28px;
  vertical-align:middle;
  margin-top:50px;
  margin-left:85px;
  line-height: 3;
}

