  <div class="main-review-container">
    <h3> Rate Your Therapist </h3>
    <h5>Want to provide some feedback for your therapist?</h5>
    <div class="review-container">
      <div class="first-flex-item">
      <%= cl_image_tag @therapist.photo, class: "avatar-large" %>
        <div> Dr <%= @therapist.first_name %> <%= @therapist.last_name %> </div>
      </div>

      <div class="second-flex-item">
        <div class ="feedback-card">
         <div class="first-attribute">
           <h5> Patience </h5>
           <div class="rating"> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
           </div>
         </div>
         <div class="second-attribute">
          <h5> Clarity </h5>
          <div class="rating"> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>
        <div class="third-attribute">
          <h5> Understanding </h5>
          <div class="rating"> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>
        <input type="submit" value="Submit" class="button-navy">
      </div>
    </div>
  </div>
</div>

<!-- <ul class="form">
    <li class="rating">
        <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
        <input type="radio" name="rating" value="1" /><span>☆</span>
        <input type="radio" name="rating" value="2" /><span>☆</span>
        <input type="radio" name="rating" value="3" /><span>☆</span>
        <input type="radio" name="rating" value="4" /><span>☆</span>
        <input type="radio" name="rating" value="5" /><span>☆</span>
    </li>
</ul> -->
