

 <!--  <%#= form_for [@therapist,@review] do  |f|  %>
  <%#= f.text_field :rating %>
  <%#= f.submit %>
  <%# end %> -->
  <div class="main-review-container">
   <h3> Rate Your Therapist </h3>
   <p>Want to provide some feedback for your therapist?</p>

    <div class="review-container">
      <div class="first-flex-item">
      <%= cl_image_tag @therapist.photo, class: "avatar-large" %>
        <div> Dr <%= @therapist.first_name %> <%= @therapist.last_name %> </div>
      </div>
    <div class="second-flex-item">
        <div class ="feedback-card">
         <div class="first-attribute">
          <h6> Patience </h6>
<!--       Again the old copy was better     <h5> I had the space to express my feelings. </h5> -->
          <form class="new_review" id="new_review" action="/therapists/<%= @therapist.id %>/reviews" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="xuXh5GGJtIsx0wtA4WnSrs5rFR7LoTiNsv24I/2Io41pukC+q6aJICwqs+NRqvN0HtniRER+5YxcJtdXPDNZUg==" id="rating-form" />
         <span class="rating-star">
              <input type="radio" name="rating_p" value="5"><span class="star"></span>
              <input type="radio" name="rating_p" value="4"><span class="star"></span>
              <input type="radio" name="rating_p" value="3"><span class="star"></span>
              <input type="radio" name="rating_p" value="2"><span class="star"></span>
              <input type="radio" name="rating_p" value="1"><span class="star"></span>
       </span>
      </div>
        <div class="second-attribute">
<!--  I still don't understand what we mean by Clarity, maybe rethink this category for ratings ?-->
          <h6> Clarity </h6>

          <span class="rating-star">
              <input type="radio" name="rating_c" value="5"><span class="star"></span>
              <input type="radio" name="rating_c" value="4"><span class="star"></span>
              <input type="radio" name="rating_c" value="3"><span class="star"></span>
              <input type="radio" name="rating_c" value="2"><span class="star"></span>
              <input type="radio" name="rating_c" value="1"><span class="star"></span>
      </span>
      </div>
         <div class="third-attribute">
          <h6> Understanding </h6>
<!--     This copy is much better :      <h6> I felt understood by my therapist. </h6>
 -->
          <span class="rating-star">
              <input type="radio" name="rating_u" value="5"><span class="star"></span>
              <input type="radio" name="rating_u" value="4"><span class="star"></span>
              <input type="radio" name="rating_u" value="3"><span class="star"></span>
              <input type="radio" name="rating_u" value="2"><span class="star"></span>
              <input type="radio" name="rating_u" value="1"><span class="star"></span>
          </span>
        </div>
        <input type="submit" value="Submit" class="button-navy">
    </form>
  </div>

  </div>
