.booking-confirmation-container {
  display: flex;
  margin: 10vh 20vw;
  justify-content: center;
  // border: solid 1px $border;
  padding: 20px 20px;
}

#confirmation-icon {
  font-size: 95px;
  color: #0ec429;
}

.therapist-show-container {
  .hidden {
  color: transparent;
  font-size:3px;
}

}
