.booking-confirmation-container {
  display: flex;
  margin: 20vh 20vw;
  justify-content: center;
  border: solid 1px $border;
  padding: 20px 20px;
}

#confirmation-icon {
  font-size: 95px;
  color: #A5DD85;
}

.hidden {
  color: transparent;
  font-size:3px;
}
